
<div *ngIf="userSetting">
    <h2><span jhiTranslate="jipsterDemoApp.userSetting.detail.title">User Setting</span> {{userSetting.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jipsterDemoApp.userSetting.userSettingValue">User Setting Value</span></dt>
        <dd>
            <span>{{userSetting.userSettingValue}}</span>
        </dd>
        <dt><span jhiTranslate="jipsterDemoApp.userSetting.settingName">Setting Name</span></dt>
        <dd>
            <div *ngIf="userSetting.settingName">
                <a [routerLink]="['/global-setting', userSetting.settingName?.id]">{{userSetting.settingName?.setting_name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-setting/'+ userSetting.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
