<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGlobalSettingLabel"
            jhiTranslate="jipsterDemoApp.globalSetting.home.createOrEditLabel">Create or edit a Global Setting</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!globalSetting.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="globalSetting.id" [ngModelOptions]="{standalone: true}" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jipsterDemoApp.globalSetting.setting_name"
                   for="field_setting_name">Setting Name</label>
            <input type="text" class="form-control" name="setting_name" id="field_setting_name"
                   [(ngModel)]="globalSetting.setting_name" [ngModelOptions]="{standalone: true}" required/>
            <div [hidden]="!(editForm.controls.setting_name?.dirty && editForm.controls.setting_name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.setting_name?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">

            <label class="form-control-label"
                   for="field_settingType">Setting Type</label>
            <select class="form-control" id="field_settingType"
                    [(ngModel)]="globalSetting.settingType" [ngModelOptions]="{standalone: true}" (change)="selectValue($event)">
                <option >Any Value</option>
                <option >specific values</option>
                <option >multiple values</option>
            </select>

            <!--<label class="form-control-label" jhiTranslate="jipsterDemoApp.globalSetting.settingType" for="field_settingType">Setting Type</label>-->
            <!--<input type="text" class="form-control" name="settingType" id="field_settingType"-->
            <!--[(ngModel)]="globalSetting.settingType" />-->
        </div>

        <div class="form-group" *ngIf="!anyValue">
            <label class="form-control-label" jhiTranslate="jipsterDemoApp.globalSetting.setting_value">Setting Value</label>
            <tag-input name="tag-input" id="field_setting_value1" class="form-control" (onAdd)="onItemAdded($event)" [(ngModel)]="items" [ngModelOptions]="{standalone: true}" placeholder="setting-value"></tag-input>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
